{% extends 'base.html' %}

{% block menu %}
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'webapp:issue_add' %}">Add Issue</a></li>
        <li><a href="{% url 'webapp:all_statuses' %}">Statuses</a></li>
        <li><a href="{% url 'webapp:all_types' %}">Types</a></li>
        <li><a href="{% url 'webapp:all_projects' %}">Projects</a></li>
            {% endif %}
{% endblock %}

{% block content %}
    <h1>Issues:</h1>
    {% include 'partial/simple_search.html' %}
    <hr/>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
        {% for issue in issues %}
            <h2>{{ issue.summary }}</h2>
            <p>Status: {{ issue.status }}</p>
            <p>Type: {{ issue.type }}</p>
            <p>Project: {{ issue.project }}</p>
            <p>Created at {{ issue.created_date|date:'d.m.Y H:i:s' }}</p>
            <p>
            {% if request.user.is_authenticated %}
                    <a href="{% url 'webapp:issue_view' issue.pk %}">More</a>
                    <a href="{% url 'webapp:issue_update' issue.pk %}">Edit</a>
                    <a href="{% url "webapp:issue_delete" issue.pk %}">Delete</a>
            {% endif %}
            </p>
            <hr/>
        {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}