{% extends 'base.html' %}

{#{% block menu %}#}
{#    <li><a href="{% url 'issue_add' %}">Add Article</a></li>#}
{#{% endblock %}#}

{% block content %}
    <h1>Issues:</h1>
    <hr/>
    {% for issue in issues %}
        <h2>{{ issue.summary }}</h2>
        <p>Status: {{ issue.status }}</p>
        <p>Type: {{ issue.type }}</p>
        <p>Created at {{ issue.created_date|date:'d.m.Y H:i:s' }}</p>
        <p>
            <a href="{% url 'issue_view' issue.pk %}">More...</a>
{#            <a href="{% url 'issue_update' issue.pk %}">Edit</a>#}
{#            <a href="{% url "issue_delete" issue.pk %}">Delete</a>#}
        </p>
        <hr/>
    {% endfor %}
{% endblock %}