body {
    background: #D3C0D1;
    color: #0B1D51;
    font-family: Arial, sans-serif;
    margin-top: 60px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: block;
    background: #797596;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}

.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fffee8;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

.menu a:hover {
    color: #BBADA0;
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.form-error {
    color: #F78E69;
    font-size: 12px;
    margin: 5px 0 0 0
}

.btn {
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn-default {
    background: gray;
}

.btn-default:hover {
    box-shadow: #BEB49E 0 0 5px;
}

.btn-primary {
    background: #D1C6AD;
}

.btn-primary:hover {
    box-shadow: #D5CBB4 0 0 5px;
}

.btn-danger {
    background: #F78E69;
}

.btn-danger:hover {
    box-shadow: #F78E69 0 0 5px;
}


.pagination {
    text-align: center;
}

.pagination a, .page-disabled, .page-active {
    display: inline-block;
    border: solid 1px #85819F;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #797596;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
   background: #85819F;
   text-decoration: underline;
}

.page-disabled {
    background: #85819F;
    color: #dddddd
}

.page-input {
    font-size: 16px;
    width: 50px;
    text-align: center;
}

.page-active {
    background: #797596;
}

.comment-list {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.comment {
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.comment p {
    margin: 0 0 5px;
}

body A {
    color: #00272B;
}

.avatar {
    display: inline-block;
    float: left;
    width: 250px;
    height: auto;
    margin-right: 20px;
}