{% extends 'base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
    <h3>{{ project.name }}</h3>
    <p>Created at {{ project.created_date|date:'d.m.Y H:i:s' }}</p>
    <div class="pre">{{ project.description }}</div>
    <h3>Issues:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="comment-list">
        {% for issue in issues %}
            <div class="issue">
                <p>{{ issue.summary }} created at {{ issue.created_date|date:'d.m.Y H:i:s' }}</p>
{#                <div class="pre">{{ comment.text }}</div>#}
            </div>
        {% empty %}
            <p>No issues yet.</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}