{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'webapp:all_projects' %}">All projects</a></li>
    <li><a href="{% url 'webapp:project_add' %}">Add project</a></li>
{% endblock %}

{% block content %}
    <h1>Projects:</h1>
        {% include 'partial/simple_search.html' %}
    <hr/>
    {% for project in projects %}
        <p>{{ project.name }}</p>
        <p>
            <a href="{% url 'webapp:project_view' project.pk %}">More</a>
            <a href="{% url 'webapp:project_update' project.pk %}">Edit</a>
            <a href="{% url "webapp:project_delete" project.pk %}">Delete</a>
        </p>
        <hr/>
    {% endfor %}
{% endblock %}